@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom diagonal clip */
/* Desktop diagonal (already used) */
.clip-diagonal {
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
}

/* Mobile bottom panel with slanted top */
.clip-mobile-bottom {
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
}


  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
/* 
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

